<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    
    Welcome to Jül Sezar
    
  </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/open-color.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/syntax.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/site.webmanifest') }}">


</head>


<body>

  <div id="particles-js" class="fullscreen">
    <div class="jumbotron text-center">
      
      <div class="particles-photo-container">
        <div class="person">
          <div class="particles-photo-container">
            <div class="person" style="display: flex; flex-direction: row;">
              <div style="margin-right: 200px;">
                <img class="particles-photo" src="{{ url_for('static', filename='assets/jpg/photo.jpg') }}" />
                <h2 class="particles-title">Mikail KOCADAĞ</h2>
                 <div class="nowrap">
                  <a class="particles-icon" href="https://www.instagram.com/mikailkocadag">
                    <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                      <path d="M12 16a4 4 0 100-8 4 4 0 000 8z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z" stroke="#000000" stroke-width="1.5"></path>
                      <path d="M17.5 6.51l.01-.011" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                  <a class="particles-icon" href="https://www.linkedin.com/in/mikailkocadag">
                    <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                      <path d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5zM7 17v-7" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M11 17v-3.25M11 10v3.75m0 0c0-3.75 6-3.75 6 0V17M7 7.01l.01-.011" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                  <a class="particles-icon" href="https://github.com/MKLKCDG">
                    <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                      <path d="M16 22.027v-2.87a3.37 3.37 0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7a5.44 5.44 0 00-1.5-3.75 5.07 5.07 0 00-.09-3.77s-1.18-.35-3.91 1.48a13.38 13.38 0 00-7 0c-2.73-1.83-3.91-1.48-3.91-1.48A5.07 5.07 0 005 5.797a5.44 5.44 0 00-1.5 3.78c0 5.42 3.3 6.61 6.44 7a3.37 3.37 0 00-.94 2.58v2.87M9 20.027c-3 .973-5.5 0-7-3" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                 
                 </div>
               
              </div>
          
              <div>
                <img class="particles-photo" src="{{ url_for('static', filename='assets/jpg/foto.jpg') }}" />
                <h2 class="particles-title">Enes KORKMAZ</h2>
                <div class="nowrap">
                  <a class="particles-icon" href="https://www.instagram.com/enes.korkmaz.67">
                    <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                      <path d="M12 16a4 4 0 100-8 4 4 0 000 8z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z" stroke="#000000" stroke-width="1.5"></path>
                      <path d="M17.5 6.51l.01-.011" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                  <a class="particles-icon" href="https://www.linkedin.com/in/muhammed-enes-korkmaz-8155a1239/">
                    <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                      <path d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5zM7 17v-7" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M11 17v-3.25M11 10v3.75m0 0c0-3.75 6-3.75 6 0V17M7 7.01l.01-.011" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                  <a class="particles-icon" href="https://github.com/eneskrkmz">
                    <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                      <path d="M16 22.027v-2.87a3.37 3.37 0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7a5.44 5.44 0 00-1.5-3.75 5.07 5.07 0 00-.09-3.77s-1.18-.35-3.91 1.48a13.38 13.38 0 00-7 0c-2.73-1.83-3.91-1.48-3.91-1.48A5.07 5.07 0 005 5.797a5.44 5.44 0 00-1.5 3.78c0 5.42 3.3 6.61 6.44 7a3.37 3.37 0 00-.94 2.58v2.87M9 20.027c-3 .973-5.5 0-7-3" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                 
                 </div>
                 
              </div>
            </div>
            <br>
            <p>Python Flask kütüphanesi kullanılarak tasarlanmış, Kasıtlı Olarak Güvensiz Bir Web Uygulaması olan bu web sitesi, siber güvenlik tutkunlarının becerilerini geliştirebilmeleri için bir platform sunmaktadır. Temel hedef, gerçek bir blog sitesinde bulunan zafiyetleri ve bayrakları tespit etmektir. Bu çerçevede, gerçek bir blog sitesinin yapısını başarıyla simüle eden ve çeşitli zafiyetleri içeren bir ortam oluşturarak, kullanıcıların siber güvenlik yeteneklerini güçlendirmeyi amaçlamaktadır.</p>
          </div>
          
          </div>
        </div>
      
      </div>
    </div>
  </div>

  <div class="particles-scroll">
    <a class="particles-icon" href="{{ url_for('home') }}">
      Go Lab
     </a>
  </div>
  

  </main>


</article>

      </div>
    </div>
  </div>
  
  <script src="{{ url_for('static', filename='./assets/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='./assets/js/darkmode.js') }}"></script>
  <script src="{{ url_for('static', filename='./assets/js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='./assets/js/particles.min.js') }}"></script>
</body>

</html>
